// All COLOUR AND OTHER VARIABLES

$red : #DE746A;
$green : #ADD13E;
$teal : #7ECFCC;
$blue : #66A0D2;
$navy : #515B65;

$white : #ffffff;
$black : #232323;
$trueblack : #000;

$gray5: mix($trueblack, $white, 5%);
$gray10: mix($trueblack, $white, 10%);
$gray15: mix($trueblack, $white, 15%);
$gray20: mix($trueblack, $white, 20%);
$gray35: mix($trueblack, $white, 35%);
$gray50: mix($trueblack, $white, 50%);
$gray60: mix($trueblack, $white, 60%);
$gray90: mix($trueblack, $white, 90%);