.menu-home{
  a{
    color: white;
    font-weight: 600;
    @include transition(all,ease-in-out,.3s);
    opacity: .8;
    line-height: 70px;
    padding: 0 10px;

    &:hover{
      opacity: 1;
    }

  }
  .button{
        line-height: inherit;
      margin-top: 11px;
      font-weight: 600;
      font-size: 13px;
    }
  .logo{
    position: relative;
    top: 16px;
    font-size: 30px;
    opacity: 1;
  }

  .menu-right{
      top: 16px;
      position: relative;
    li{
      display: inline-block;
      margin: 0 10px;
    }
    .link{
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 13px;
      font-weight: 600;
      opacity: 1;
      vertical-align: top;
      letter-spacing: 2px;
      position: relative;
    }


  }

}

    .social{
      margin-bottom: 6px;
      position: relative;
      a.link{
        font-size: 22px;
        color: white;
        margin-bottom: 5px;
        position: relative;
        opacity: .7;
        @include transition(all,ease-in-out,.3s);
        &:hover{
          opacity: 1;
        }
      }
    }

.page-title{
  text-transform: uppercase;
}

.blogs-title{
    padding-top: 9px;
}

.emailbox, .phonebox{
   padding: 23px 30px 20px 30px;
  border-radius: 2px;
  background: $gray5;
  display: inline-block;
  letter-spacing: 1px;
  color: $navy;
  min-width: 210px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 10px;
  @include transition(all,ease-in-out,.3s);
  h6{
    @include transition(all,ease-in-out,.3s);
  }
  &:hover{
    h6{
      color: white;
    }
    background: $navy;
    color: white;
  }
  p{
    margin-bottom: 0;
  }
}

.menu-right{
    float: right;
    text-align: right;
  }

.hero-client, .hero-therapist{
  background: url("../img/header-client.jpg");
  background-size: cover;
  height: 95vh;
  h1{
    color: white;
    font-weight: 500;
    @include brandon;
    font-size: 50px;
  }
  .subtitle{
    color: white;
    font-size: 34px;
  }
  .button-hero{
    font-weight: 600;
    padding: 22px 40px;
  }
}



.hero-therapist{
  background: url("../img/header-therapist.jpg");
  background-size: cover;
}

.subtitle{
  @include text;
  font-weight: 100;
  font-size: 34px;
  font-style: italic;
  color: $navy;
}

.button{
  letter-spacing: 2px;
}

.features img{
  width: 120px;
}
.features li{
  width: 200px;
  border: 1px solid gray;
  border-radius: 2px;
  height: 190px;
  padding-top: 25px;
  display: inline-block;
  margin: 5px;
  &:hover{
    -webkit-box-shadow: 0px 0px 0px 2px rgba(82,92,102,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(82,92,102,1);
    box-shadow: 0px 0px 0px 2px rgba(82,92,102,1);
  }
}


.sidemenu {
  margin-bottom: 40px;
  h6{
    opacity: .3;
  }
  ul{
    margin-top: 15px;
  }
  li{
    margin-bottom: 8px;
  }
  a{
    color: $navy;
    &:hover{
      color: $blue;
    }
  }
  .active{
    margin-top: 16px;
    margin-bottom: 16px;
    a{
      background: $navy;
      padding: 10px 15px;
      margin-left: -15px;
      color: white;
      border-radius: 2px;
      &:hover{
        color: white;
      }
    }
  }
}

.full p{
  font-size: 22px;
  opacity: 0.8;
}

p{
  color: $gray60;
  font-size: 18px;
}

h1,h2,h3,h4,h5,h6{
  @include brandon;
}

.full h1{
  text-transform: uppercase;
}

.page-content{
  ul{
    margin-bottom: 30px;
  }
  li{
    position: relative;
    margin-left: 20px;
    margin-bottom: 5px;
    &:before{
      position: absolute;
      content: "•";
      left: -20px;
      font-size: 20px;
      top: -4px;
      color: $gray35;
    }
  }

}

.hover{
  background: #3c4147;
  position: absolute;
  line-height: 34px;
  border-radius: 2px;
  padding: 0 6px;
  top: 70px;
  left: 50%;
  width: 150px;
  margin-left: -75px;
  font-size: 11px;
  visibility: hidden;
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
  color: white;
  @include transition(all,ease-in-out,.3s);
  &:after{
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #3c4147 transparent;
    position: absolute;
    top: -4px;
    left: 50%;
    margin-left: -2px;
  }
}


.devices{
  color: white;
  margin-top: 30px;
  font-size: 50px;
  li{
    display: inline-block;
    position: relative;
  }
  .inactive{
    color: rgba($white,.2);
  }

  li:hover .hover{
    opacity: 1;
    visibility: visible;
  }
}


.hideover{
  overflow: hidden;
}

.scans{
  height: 600px;
  margin-left: 100px;
  margin-top: 80px;
  @include transition(all,ease-in-out,.5s);
  text-align: center;
  &:hover{
    margin-top: 40px;
    height: 640px;
  }
  li{
    background: rgba(35, 35, 35, .1);
    display: block;
    border-radius: 2px;
    width: 180px;
    height: 160px;
    margin-bottom: 7px;
    text-align: center;
    padding-top: 40px;
    position: relative;
  }
  h6{
      margin-top: 12px;
  }
  .icon{
    font-size: 50px;
    color: #ffffff;
  }

  .hover{
    left: -280px;
    top: 50%;
    line-height: 24px;
    font-size: 17px;
    width: 270px;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-top: -40px;
    &:after{
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0px 4px 4px;
      border-color: transparent transparent transparent #3c4147;
      position: absolute;
      right: -4px;
      left:auto;
      top: 50%;
      margin-top: -2px;
    }
  }
  li:hover .hover{
    opacity: 1;
    visibility: visible;
  }
}

.resultsplace{
  height: 300px;
  display: block;
  width: 100%;
}
.results{
  width: 2964px;

  position: absolute;
  -webkit-animation: moveSlideshow 35s linear infinite;
  -moz-animation:    moveSlideshow 35s linear infinite;
  li{
    background: $gray5;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 460px;
    margin: 0 15px;
    padding: 20px 10px 30px 10px;
  }
  .title{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
  }
  .score{
      width: 160px;
      position: absolute;
      margin-top: 10px;
      h6{
        font-size: 8px;
      }
  }
  .chart{
    width: 280px;
  }
  .text{
    margin-left: 80px;
    margin-top: 20px;
    width: 200px;
  }
}
.results.wp .chart{
  margin-bottom: 0;
}
.results.therapist{
  .chart{
    width: 340px;
    margin-bottom: -30px;
  }
}

@-webkit-keyframes moveSlideshow {
    0% { left: 0; }
    100% { left: -1482px; }
}
@-moz-keyframes moveSlideshow {
    0% { left: 0; }
    100% { left: -1482px; }
}

// ::-webkit-input-placeholder {
//    color: white;
// }

// :-moz-placeholder { /* Firefox 18- */
//    color: white;
// }

// ::-moz-placeholder {  /* Firefox 19+ */
//    color: white;
// }

// :-ms-input-placeholder {  
//    color: white;
// }


.input{
  max-width: 600px;
  margin: 0 auto;
  position: relative;

  input{
    background: rgba(35, 35, 35, .1);
    color: white;
    @include text;
    font-size: 15px;
    height: 60px;
    border-radius: 2px;
  }
  input[type="email"]:focus{
    background: rgba(35, 35, 35, .2);
  }
  .button{
    position: absolute;
    right: 7px;
    top: 7px;
    height: 46px;
    font-size: 10px;
    font-weight: 600;
  }
}

footer.navy{
  .logo{
    position: absolute;
    color: white;
    font-size: 50px;
    left:0;
    top:-17px;
  }
  .mail{
    position: relative;
    text-align: left;
    padding-left: 100px;
    opacity: 1;
    a{
      color: white;
    }
  }

  nav {

    .separate{
      margin-top: 40px;
    }
    .menu-item:not(.separate){
      text-transform: uppercase;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 2px;
      color: rgba($white,.7);
    }

    a{
    color: rgba($white,.5);
    display: block;
    line-height: 30px;

    &:hover{
      color: white;
    }
    @include transition(all,ease-in-out,.5s);

    }
    .active a{
      color: white;
    }
  }

  .copy{
    font-size: 13px;
    color: rgba($white,.5);
    text-align: left;
  }
}

.mc4wp-success{
  position: relative;
  text-align: center;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  letter-spacing: 1.5px;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  width: 310px;
  border-radius: 2px;
  background: $green;
  color: white;
}

  .connect{
    position: absolute;
    right: 0;
    top: 0;
    .input input[type="email"] {
      width: 440px;
      box-shadow: none;
      border: none;
      background-color: white;
      color: $navy;
    }
  }

.blog-year{
  color: $gray10;
}


.blogcontainer{
  height: calc(100% - 70px);
  max-width: 100%;
  .header{
    height: 100%;
    display: block;
    position: relative;
    padding: 0;
  }
  .background{
    margin-left: -1000px;
    background: $navy;
    background: url("../img/header-blog.jpg");
    background-size: cover;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding-left: 1000px;
      overflow: auto;
  }
  .content{
    margin:0;
    padding:0;
    position: relative;
    height: 100%;
    width: 100%;
    float: right;
    max-width: 360px;
  }

  h1{
    color: white;
    margin:0;
    font-weight: 500;
    font-size: 70px;
    letter-spacing: .1em;
  }
  .social{
    color: white;
    display: inline-block;
    opacity: 1;
  }
  .blog-content{
    padding: 0;
    height: 100%;
    overflow: scroll;

  }
  article{
    padding: 60px 35px;
    border-top: 1px solid #f1f1f1;
    position: relative;
    h2 a{
      text-transform: uppercase;
      color: $navy;
      font-weight: 300;
    }
    h6 time{
      color: $gray35;
    }
    p{
      margin-bottom: 0;
    }
    .slidehover{
      width:0;
      height: 100%;
      position: absolute;
      top:0;
      left:0;
      margin-left: 100%;
      background: $gray5;
      @include transition(all,ease-in-out,.3s);

    }
    &:hover .slidehover{
      width: 100%;
      margin-left: 0;
    }
    .article-content{
      position: relative;
    }
  }
}

.blog-title{
  padding: 60px;
  h1, h6 time{
    color: $navy;
    font-weight: 300;
  }
}

h6.time{
  color: $gray35;
  font-weight: 300;
}

.blog-content{
  padding: 30px 60px;
}

.full .blog-content p{
  font-size: 19px;
}

.updated{
  font-weight: 400;
  color: $gray20;
}

.article-content{
    padding: 20px 0;
  border-bottom: 1px solid $gray5;
  h2{
    text-transform: none;
  }
  a{
    color: $navy;
    font-weight: 400;
    text-transform: uppercase;
  }
  h6{
    color: $gray20;
  }
}

.blog-header{
  background: url("../img/header-blog.jpg");
  background-size: cover;
  background-position: center center;
  .columns{
    min-height: 1px;
  }
}

h2{
  text-transform: uppercase;
  font-weight: 300;
}

.full-height{
  height: 100vh;
}
.nomargin{
  margin:0;
  padding: 0;
}

.single-main{
  margin-top: 500px;
}
.full.single-header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 600px;
}
.header-contents{
 .vert-out{
  min-height: 500px;
 }
}
.home-menu{
  z-index: 10;
}
.single-header .home-menu{
  position: absolute;
  top:0;
  width:100%;
  z-index: 10;
}
.home-image,.single-header{
  
  &:before{
    content:"";
    position: absolute;
    height: 100%;
    width:100%;
    background: $navy;
    top:0;
    left:0;
    opacity: .8;
    z-index: 0;
  }
}


.home-menu{
  position: relative;
  .left{
      top: 30px;
      left: 30px;
      position: absolute;
    .logo,h6{
      color:white;
      float: left;
    }
    .logo{
      font-size: 34px;
    }
    h6{
        margin-left: 10px;
      line-height: 42px;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .social{
    top: 30px;
    right: 30px;
    li{
      display: inline-block;
      a.link{
        font-size: 18px;
        line-height: 46px;
        padding: 10px;
      }
    }
    .button{
        top: -4px;
    }
  }
}


.home-form, .single-form{
  position: absolute;
  bottom:10px;
  width:100%;
  padding: 20px;
  text-align: center;
  .panel{
    margin-bottom: 0;
    padding: 40px;
    @include border-radius(2px);
  }
    h3{
      @include freight;
      font-weight: 300;
      line-height: 1.4em;
    }
    h6{
      font-weight: 500;
      opacity: .5;
      font-size: 11px;
    }
  .form{
    overflow: auto;
    .columns{
      padding-left: .3rem;
      padding-right: .3rem;
    }
    .button{
      padding-left: 0;
      padding-right: 0;
    }
  }

  input[type="email"],input[type="submit"]{
    width:100%;
    @include border-radius(2px);
  }
}

.single-form{
  position: relative;
}

.posts-header{
  height: 80px;
  width:100%;
  background: $gray5;
  position: absolute;
  top:0;
  left:0;
}

.get-categories{
  .main{
    line-height: 80px;
      margin-left: 50px;
      font-weight: 400;
    h6{
      margin:0;
      line-height: 80px;
    }
    span{
      position: absolute;
      top: 0;
      left: 260px;
      font-size: 24px;
      line-height: 80px;
    }
  }
  .dropdown{
      position: absolute;
      width: 240px;
      background: mix($navy, $black, 55%);
      border-radius: 2px;
      left: 20px;
      top: 70px;
      padding-top: 4px;
      padding-bottom: 4px;
      opacity: 0;
      visibility: hidden;
      @include transition(all,.5s,ease-in-out);
      li a{
        height: 40px;
        display: inline-block;
        padding: 0 20px;
        width:100%;
        h6{
          color: rgba(255, 255, 255, 0.5);
          margin:0;
          line-height: 40px;
        }
        &:hover{
          background: rgba(0,0,0,.3);
          h6{
            color: white;
          }
        }
      }

      &:after{
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 4px 4px 4px;
        border-color: transparent transparent mix($navy, $black, 55%) transparent;
        position: absolute;
        top: -4px;
        left:40px;
        margin-left: -2px;
        
      }
  }
  &:hover .dropdown{
    opacity: 1;
    visibility: visible;
  }
}

.posts-all{
  padding: 30px 50px;
  height: 100vh;
  overflow-y:scroll;
  .posts-list{
    margin-top: 80px;
  
    li{
      padding: 40px 35px;
      &:hover{
        background: lighten($gray5,3%);
      }
      h2{
        font-weight: 400;
        font-size: 30px;
      }
      p{
        margin:0;
        @include freight;
        font-weight: 400;
      }
      h6.cat a{
        color:$teal;
      }
      .post-info{
        width:100%;
        display: block;
        overflow: auto;
      }
      h6{
        float: left;
        margin-right: 14px;
      }
    }
  }
}

.full{
    position: relative;
}

.category-header{
  position: relative;
  padding:30px;
  padding-top: 150px;
  h6,h1{
    color:white;
  }
  h6{
    font-weight: 400;
    margin:0;
  }
  h1{
    @include freight;
    font-weight: 300;
    font-size: 36px;
  }
}

.single-header{
  .cat a{
    color:$teal;
  }
  .post-info{
    opacity: .6;
    h6{
      padding: 10px;
      display: inline-block;
    }
  }
  .prevnext{
    position: absolute;
  top: 216px;
  background: none;
  font-size: 26px;
  color: white;
  height: 100px;
  line-height: 100px;
  padding: 0 20px;
  &:hover{
    background: rgba(255,255,255,.1);
  }
    &.right{
      right:0;
    }
  }
}
.single-content{
  p{
    @include freight;
    font-weight: 400;
    color:$black;
  }
  h3{
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
  .socialshares{
    width:400px;
    margin:0 auto;
    padding: 20px;
    text-align: center;
    
    .sharify-title{
      display: none;
    }
    .sharify-container {
      ul{
        height: 48px;
      }
      li{
        
    border-radius: 2px;
  display: inline-block;
  
  a.item{
    display: block;
    height: 48px;
  line-height: 48px;
  padding: 0 10px;
  margin: 0 3px;
  width: 80px;
  position: relative;
  background: rgba(0, 0, 0, 0.03);
  margin:0 3px;
  &:hover{
    background: rgba(0, 0, 0, 0.1);
  }

  }
  i{
    line-height: 48px;
    margin: 0;
    position: absolute;
    left: 12px;
    top: 0;
    }
    .count{
        vertical-align: top;
      @include brandon;
      font-weight: 400;
      color:$gray35;
      font-size: 14px;
      letter-spacing: .15em;
      float: right;
      right: 9px;
      position: relative;
      text-align: right;
    }
  }
  }
    .us_wrapper .us_button .us_box{
      border-radius: 2px;
      background: rgba(0,0,0,.03);
    }
    .us_wrapper .us_button .us_box:hover{
      background: rgba(0,0,0,.1);
    }
    .us_wrapper .us_button {
      width: 70px;
      background: none !important;
      text-align: left;
    }
    .us_wrapper.us_skin_default .us_button {
      height: 48px;
      margin-right: 4px;
      margin-left: 4px;
    }
    .us_wrapper .us_button .us_count{
      color:$navy;
      text-align: center;
      @include brandon;
      font-weight: 500;
      color:$gray35;
      font-size: 14px;
      letter-spacing: .15em;
    }
    i{
      color:$navy;
      font-size: 22px;
      margin-left: 6px;
    }
  }

  .author{
    position: relative;
    img {
    border-radius: 50%;
    max-width: 160px;
    position: absolute;
    top:0;
    }
    .author-info{
      margin-left: 220px;
      padding-top: 10px;
      h6{
        color:$gray35;
        font-weight: 400;
      }
      h3{
        @include freight;
        font-weight:200;
        font-size: 34px;
      }
      p{
        font-size: 14px;
      }
    }
  }

  .comment-count{
    border-bottom: 1px solid $gray10;
    position: relative;
    display: block;
    overflow: auto;
    margin-bottom: 10px;
    padding-bottom: 14px;
    h6{
      font-weight: 400;
    }
    .count span{
      color: $gray35;
      margin-left: 10px;
    }
  }

.commentlist{
  padding-top: 40px;
  padding-bottom: 40px;
  .cancel-comment-reply{
      margin-top: 20px;
  margin-bottom: 20px;
  }
  .comment{
    position: relative;
    padding-top: 30px;
    padding-bottom: 10px;
    .children{
      margin-top: 30px;
      border-left: 1px solid#f2f2f2;
      padding-left: 20px;
    }
    .reply{
      position: absolute;
      right:0;
      top:30px;
      a{
      color:$teal;
      }
    }
    h6{
      font-weight: 400;
    }
    .author{
      span{
        color:$gray35;
      }
    }
    p{
      margin-top: 10px;
      @include freight;
      margin-bottom: 0;
    }
  }
  .notice h6{
    color:$red;
  }
}
.comments-respond{
  border-top:1px solid $gray10;
  margin-top: 30px;
  .input{
    margin-top: 10px;
    input{
      background: rgba(35, 35, 35, 0.05);
      border-radius: 0;
      color:$black;
    }
    textarea{
      background: rgba(35, 35, 35, 0.05);
      @include text;
      font-weight: normal;
      font-style: normal;
      font-size: 15px;
      margin-bottom: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

}


.single-bar{
  height: 60px;
  width:100%;
  background: $gray5;
  position: fixed;
  bottom:-60px;
  @include transition(all,.5s,ease-in-out);
  &.visible{
    bottom:0;
  }
  .socialshares{
    width: auto;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: calc(21% + 50px);
    margin-top: 6px;
  }
  .logo{
    span{
      position: absolute;
      top: 0;
      left: 10px;
      line-height: 60px;
      font-size: 26px;
      color: $navy;
    }
    h6{
      font-weight: 500;
      line-height: 60px;
      margin: 0;
      margin-left: 33px;
    }
  }
  .subscribe form{
    position: absolute;
    top:0;
    right:0;
    .columns{
      padding-left: .2rem;
      padding-right: .2rem;
    }
    input[type="email"]{
      height: 48px;
      margin-top: 6px;
      font-size: 14px;
      @include border-radius(2px);
    }
    .button{
      height: 48px;
      padding: 0 20px;
      margin-top: 6px;
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 64.063em){
  input[type="email"]{
    margin-bottom: 10px;
  }
}


@media only screen and (max-width: 40.063em){
  
  .home-form, .single-form{
    padding:10px;
  }
  .home-form .panel, .single-form .panel{
    padding-left: 20px;
    padding-right: 20px;
  }
}

